{%load static%}
{% block header1 %}
<header class="header-area">
	<!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="./home" class="nav-brand">Demo</a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    {% if user.is_authenticated %}
                                    <li style="font-weight: 500;
                                                text-transform: capitalize;
                                                font-size: 20px;
                                                color: #ffffff;">
                                        {{request.user.first_name}}</li>
                                    {% endif %}
                                    <li><a href="./home">Home</a></li>
                                    <li><a href="./addplants">Add Plants</a></li>
                                    {% if user.is_authenticated %}
                                    <li><a href="logout">Logout</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
{% endblock %}